body {
    font-family: Arial, sans-serif;
    background-color: #802929;
    color: #333;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #29254b;
    color: rgb(224, 224, 224);
    padding: 15px;
}
a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}
a:hover {
    text-decoration: underline;
}
form input, form textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #465e47;
}
.review {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
}
.rating {
    color: red;
    font-size: 1.2em;
}
table {
    width:100%;
    border-collapse: collapse;
    margin-top: 15px;
}
table th, table td {
    border:1px solid #ddd;
    padding:8px;
}
table th {
    background-color:#4CAF50;
    color:white;
}
